h1 {
    color: rgb(230, 222, 222);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4em;
}
div{
    margin-bottom: 5px;
    text-align: center;
}
.btn {
    position: relative;
    display: inline-block;
    margin: 40px auto;
    padding: 0.5%;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

    background-color: #ea0808;
    color: #d7e2ec;
    font-size: 1.4em;
    text-decoration: none;

    transition: background-color 0.3s;
}
.btn:hover,
.btn:focus,
.active {
    background-color: #632687;
}